*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Ubuntu',sans-serif;
	color: wheat;
}

section{
	display: flex;
	justify-content: center;
	width: 100%;
}

.card{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
	height: 600px;
	background-color: #0c0c0c;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
}

.card img{
	width: 100%;
}

#yo{
    display: none;
	width: 35%;
	border: 5px solid darkgray;
	border-radius: 50%;
	position: relative;
    top: 50px /*Antes tenía -80px */

}

.nombre{
	margin-top: 10px; /* Antes tenía 50px */ 
	font-size: 28px;
	font-weight: bold;
}

.puesto{
	margin-top: 12px;
	font-size: 20px;
	font-weight: bold;
}

.contacto{
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

a{
	color: wheat;
	text-decoration: none;
}

.pais::before{
	content: 'MX | ';
}

.email::before{
	content: '📩 | ';
}

.redes{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	padding: 12px;
	background-color: #2f485b;
}	

.facebook::before{
	content: '🔵 | ';
}

.insta::before{
	content: '🔵 | ';
}

.replit::before{
	content: '🔵 | ';
}

.follow{
	display: flex;
	margin-top: 20px;
	justify-content: space-evenly;
}

.followers{
	width: 50%;
	border: 1px solid wheat;
	padding: 10px;
	border-left: none;
	font-weight: bold;
}

.following{
	width: 50%;
	border: 1px solid wheat;
	padding: 10px;
	border-left: none;
	font-weight: bold;
}

.foll{
	margin-top: 20px;
	background-color: #2f485b;
	font-size: 24px;
	padding: 8px;
	font-weight: bold;
}





